<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragment/header :: common_header(~{::title})"></div>
    <title>Question Form</title>
</head>
</head>
<body>
<div class="flex justify-center">
    <div class="w-[1200px] mt-[100px] flex justify-center items-center">
        <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
            <div class="mb-[30px] font-bold text-[2rem] flex gap-[10px]">
                <div>
                    <label for="error" class="opacity-0">에러</label>
                </div>
                <div class="w-[100%] text-center">
                    <div th:each="err : ${#fields.errors('*')}">
                        <div class="bg-red-500" th:text="${err}"></div>
                    </div>
                </div>
            </div>
            <div class="flex gap-[10px] items-center mb-[30px]">
                <label for="subject" class="font-bold text-[2rem]">제목</label>
                <input type="text" name="subject" class="h-[50px] w-[800px] border border-blue-600 rounded-md"
                       th:field="*{subject}">
            </div>
            <div class="flex gap-[10px] items-center">
                <label for="content" class="font-bold text-[2rem]">내용</label>
                <textarea id="summernote" name="content"
                          th:field="*{content}"></textarea>
            </div>
            <div class="flex justify-center mt-[30px]">
                <input type="submit" value="등록"
                       class="bg-blue-500 text-white border rounded-md font-bold text-[20px] p-[10px]">
            </div>
        </form>
    </div>
</div>
<script>
    function uploadImage(img) {
        formData = new FormData();
        formData.append("file", img);
        fetch("/question/imgup", {
            method: "POST",
            body: formData,
            contentType: false,
            processData: false

        })
            .then(response => response.json())
    }

    $(document).ready(function() {
        $('#summernote').summernote({
            callbacks: {
                onImageUpload: function(files) {
                    uploadImage(files[0]);
                    $summernote.summernote('insertNode', imgNode);
                }
            },
            height: 500,                 // set editor height
            width: 800,
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,
        })
    });
</script>
</body>
</html>